name: "Publish payload-signing-client library"
on:
  release:
    types: [published]
  workflow_dispatch:
jobs:
  build:
    name: "build-and-publish"
    runs-on: "ubuntu-24.04"
    permissions: 
        packages: write
        repository-projects: write
        contents: write
    steps:
    - uses: "actions/checkout@v6"
    - uses: "actions/setup-java@v5"
      with:
        "java-version": "21"
        "distribution": "temurin"
    - name: Cache Gradle
      uses: actions/cache@v5
      with:
        path: |
          ~/.gradle/wrapper
          ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties', '**/gradle.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    - name: "Build and tests payload-signing-client"
      run: ./gradlew :payload-signing-client:test  :payload-signing-client:build
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_USERNAME: x-access-token

    - name: "Publish payload-signing-client to GitHub Packages"
      run: ./gradlew --stacktrace :payload-signing-client:publish
      continue-on-error: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_USERNAME: x-access-token
